.container{
    background-color: grey;
    height: 500px;
    display: grid;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-columns: 100px repeat(2, 1fr);
    grid-template-rows: 40px repeat(2, 1fr);
}

.box{
    background-color: rgb(207, 149, 149);
    /* width: 80px;
    height: 50px; */
}

#box1{
    grid-column-start: 1;
    grid-column-end: 4;
}

#box2{
    grid-row-start: 2;
    grid-row-end: 4;
}

.webpage{
    height: 700px;
    width: 500px;
    background-color: beige;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    grid-template-areas: 
    "hd hd "
    "side main"
    "ft ft";
}

.area{
    background-color: aquamarine;
    border: 2px solid gray;
}

#header{
    grid-area: hd;
}
#sidebar{
    grid-area: side;
}
#content{
    grid-area: main;
}
#footer{
    grid-area: ft;
}

@media(max-width:350px){
    .webpage{
        grid-template-rows: 30px 1fr 1fr 30px;
        grid-template-columns: 1fr;

        grid-template-areas: 
        "hd"
        "side" 
        "main"
        "ft"; 
    }
}